<p id="notice"><%= notice %></p>
<h1>User Profile</h1>
<div>
    <p>
        <strong>User Bio</strong>
        <%= @profile.bio %>
    </p>
    <p>
        <strong>User Description:</strong>
        <%= @profile.description %>
    </p>
    <img src=<%= @profile.imageurl %> alt="profile pic">
</div>
