// Place all the styles related to the AbuseReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#report-info {
    margin-top: 30px;
    text-align: center;
}
.report-element, {
    font-family: "Franklin Gothic Medium";
    font-size: medium;
}
.report-heading {
    font-family: "Franklin Gothic Medium";
    font-size: 20pt;
}
.report-article-info {
    background-color: #F0E68C;
    border: 2px solid red;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 50%;
}
.report-element {
    margin-top: 40px;
}
#report-options {
    margin-top: 60px;
}