// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-picture {
    width: 200px;
    height: 200px;
}
.profile-picture-logo {
    display: inline-block;
    float: right;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.profile-picture-embed {
    display: inline-block;
    width: 100px;
    height: 100px;
}