.subscribe-button {
    background: linear-gradient(gold, darkred);
    color: red;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    margin-right: 10px;
    display: inline-block;
}