// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
    font-size: 32px;
    font-family: impact;
}
h1 {
    font-family: impact;
}
body {
    background: #cdffcd;
}
#navPane {
     /* Remove Bullets */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8BEA4C;
    /* display as flexbox so that navigation pane scales with the window size */
    display: flex;
    flex-direction: row;
    width: 100%;;
}
#navPane li {
    border-right: 2px solid black;
    flex: 0 1 20%;
    position: relative;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}
