// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-info {
    float: right;
    position: relative;
    left: -20px;
    display: inline-block;
}
.logout-info {
    float:right;
    position: relative;
    top: 0px;
    left: -20px;
}
#welcome {
    display: inline-block;
    position: relative;
    left: 20px;
    font-size: 32px;
    font-family: impact;
}
#welcome-msg {
    font-family: impact;
    display: inline-block;
}
body {
    margin: 0;
    padding: 0;
    background: #cdffcd;
}
header {
    margin-top: 20px;
}
#navPane {
     /* Remove Bullets */
     clear: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(darkslategrey, grey);
    font-family: "Times New Roman";
    /* display as flexbox so that navigation pane scales with the window size */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.body-container {
    display: flex;
    flex-direction: row;
}
.body-main {
    flex: 0 1 100%;
}

#navPane li {
    border-right: 2px solid black;
    flex: 0 1 25%;
    position: relative;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}
#home-main {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
    padding: 0;
}

#home-main-left {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-right: 100px;
}
#home-main-right {
    display: inline-block;
    width: 60%;
    min-width: 200px;
    height: 350px;
    padding-top: 50px;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(white, silver);
    overflow-x: hidden;
    overflow-y: auto;
}
#home-main-right h1 {
    font-family: Calibri;
    text-align: center;
}
#home-main-right h2 {
    font-family: "Times New Roman";
    font-size: 12pt;
    text-align: center;
}
#home-newest-users {
    width: 70%;
    margin: auto;
}
.profile-container {
    display: inline-block;
    margin-left: 20px;
}
/**
* List of Articles
*/
#article-list-title {
    text-align: center;
    margin-top: 10px;
}

